{
  "extends": "airbnb",
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "es6": true,
  },
  "rules": {
    "max-len": [1, 120],
    "arrow-body-style": "off",
    "react/prefer-stateless-function": "off",
    "react/jsx-filename-extension": "off",
    "semi": ["error", "never"],
    "class-methods-use-this": [0],
    "no-unused-vars": "off",
    "react/prop-types": "off",
    "jsx-a11y/img-has-alt": "off",
    "import/no-extraneous-dependencies": "off",
    "quote-props": "off",
    "no-param-reassign": "off"
  }

}
