.extend-city-header{
  font-size: 40px;
  margin-top: 30px;
  text-align: center;
}

.extend-day-card-container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  color: black;
}

.extend-day-card{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  width: 150px;
  margin: 10px;
  border: 2px solid lightGrey;
  padding: 10px;
}

.extend-weekday-header{
  border-bottom: 1px lightGrey;
  font-size: 15px;
  text-align: center;
}

.extend-weekday-dayname {
  font-size: 18px;
}
.extend-weekday-dayname, .extend-date{
  margin: 5px;
  color: black;
}

.extend-conditions{
  display: block;
  margin: auto;
  text-align: center;
  color: black;
}

.extend-image{
  display: block;
  margin: auto;
}

.extend-high-low-temp{
  display: block;
  text-align: center;
  color: black;
}

.extend-temp{
  margin: 5px;
}

.hourly-card-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  color: black;
  text-decoration: none;
}

.hourly-container {
  margin: 2px;
  border: 2px solid lightGrey;
  width: 40px;
}

.hourly-time{
  text-align: center;
  margin-bottom: 5px;
  font-size: 13px;
  display: block;
}

.hourly-temp{
  text-align: center;
  margin-bottom: 5px;
  display: block;
}

.hourly-image {
  height: 25px;
  margin: auto;
  display: block;
}

.day{
  text-align: center;
  font-size: 25px;
  padding: 10px;
}
